.classA {
    display: block;
    width: 200px;
    height:100px;
    background: pink;
}
.classB {
    border: 1px solid #ddd;
}
.wrap {
    width:100%;
    min-height:150px;
    border:1px solid #ddd;
    padding: 10px;
    position: relative;
}
#demo2 {
    height: 513px;
    width: 379px;
    border: 1px solid #2a5075;
    background: #223953!important;/*这个背景色仅限于demo上，实际项目页面中没有背景色*/
    padding: 10px;
    position: relative;
    z-index: 10;
}
.legendbg {
    position: absolute;
    width: 141px;
    height: 22px;
    background: url('/public/project-a/1.0.0/img/legendBj.png') no-repeat center center;
    bottom: 27px;
    left: 242px;
    z-index: 9;
}