<div class="dashboard">
  <p>当前页面：flyDialogDEMO</p>
  <div class="dialog-wrap">
    <!--基本模态框-->
    <button data-bind="click: options.commonEvent" class="btn btn-info">点击弹窗3-警告</button>
    <button data-bind="click: options.maskEvent" class="btn btn-info">点击弹窗6-content演示</button>
    <button data-bind="click: options.setStyleEvent" class="btn btn-info">点击弹窗7-content演示2</button>
    <!--遮罩背景设置框-->
    <button data-bind="click: options.setBackgroundEvent" class="btn btn-info">点击弹窗6-content演示</button>
  </div>
</div>