<!DOCTYPE html>
<html>

<head>
  <base href="../../../">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <title>大屏展示</title>
  <link href="themes/default.min.css" rel="stylesheet">
  <link href="css/page.css" rel="stylesheet">
  <link href="css/common.css" rel="stylesheet">
</head>

<body>

  <!--<div class="container">
    <div id="mainview"></div>
  </div>-->

  <div>
     <div id="mainview"></div>
     <!--<canvas id="canvas" width="800 " height="800 ">
      你的浏览器无法使用canvas
     </canvas>-->
  </div>

  <script src="lib/lib.js"></script>
  <script src="lib/modernizr.js"></script>
  <script src="app/index.js?__inline"></script>
</body>

</html>