.analysis-dispose-wrap {
    width:1920px;
    height:768px;
    background: #fff;
}
.dateTabs {
    width: 117px;
    display:inline-block;
    position: relative;
    top: -10px;
}
.dateTabs > a {
    color: #666;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.dateTabs > a.active {
    color: #108eea;
    font-size: 12px;
}
.datepickers-now, 
.datepickers-currentWeek,
.datepickers-currentMonth{
    width:255px;
    display:inline-block;
}
.planeWrap {
    margin-top: 15px;
    margin-bottom: 15px;
}
.planeitem {
    height: 76px;
    width: 239px;
    border-radius: 8px;
    float: left;
    margin-right: 35px;
    padding: 26px 0 0 29px;
}
.planeitem-return {
    background:-moz-linear-gradient(#1e3488,#206fb2);
    background:linear-gradient(#1e3488,#206fb2);
    box-shadow: 3px 3px 12px rgba(32, 11, 178, .3);
}
.planeitem-destroy {
    background:-moz-linear-gradient(#602a82,#903ec4);
    background:linear-gradient(#602a82,#903ec4);
    box-shadow: 3px 3px 12px rgba(144, 62, 196, .3);
}
.planeitem-auction {
    background:-moz-linear-gradient(#20896f,#2ac6a0);
    background:linear-gradient(#20896f,#2ac6a0);
    box-shadow: 3px 3px 12px rgba(42, 198, 160, .3);
}
.planeitem-case {
    background:-moz-linear-gradient(#278c95,#3bbdc8);
    background:linear-gradient(#278c95,#3bbdc8);
    box-shadow: 3px 3px 12px rgba(59, 189, 200, .3);
}
.planeitem-content {
    float: left;
    width: 76px;
    height: 52px;
    position: relative;
    left: 30px;
    top: -5px;
}
.planeitem-title {
    display: block;
    color: #fff;
    font-size: 16px;
}
.planeitem-text {
    display: block;
    color: #fff;
    font-size: 30px;
}

.widget .select {
    width: 41px;
}
.dispose-icon {
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 20px;
    position: relative;
    left: 30px;
    top: -5px;
} 
.dispose-icon-return {
    background: url(./img/icon_return2.png) no-repeat left top;
}
.dispose-icon-destroy {
    background: url(./img/icon_destroy2.png) no-repeat left top;
}
.dispose-icon-case {
    background: url(./img/icon_case2.png) no-repeat left top;
}
.dispose-icon-auction {
    background: url(./img/icon_auction2.png) no-repeat left top;
}
/*.dispose-icon-return2 {
    background: url(/public/c/project-a/1.0.0/pages/analysis-dispose/img/icon_return2.png) no-repeat left top;
}*/
/*.dispose-icon-return2 {
    background: url(/public/project-a/1.0.0/img/analysis-dispose/img/icon_return2.png) no-repeat left top;
}*/
.dispose-charts-wrap {
    position: relative;
}
.dispose-type-wrap {
    width: 500px;
    height: 36px;
    position: absolute;
    top: 12px;
    right: 17.5%;
    z-index: 999;
}
.dispose-type-wrap ul{
    width: 280px;
    padding: 0;
    float: left;
}
.dispose-type-wrap li {
    width: 65px;
    float: left;
    margin-right: 5px;
}
.dispose-type-wrap li input{
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.dispose-type-tabs {
    width: 186px;
    height: 36px;
    float: left;
    color: #333;
}
.dispose-type-tabs a{
    display: inline-block;
    width: 88px;
    height: 32px;
    color: #333;
    text-align: center;
    /*border-bottom: 2px solid #3490f8;*/
    border-bottom: 2px solid transparent;
}
.dispose-type-tabs a.type-active{
    display: inline-block;
    width: 88px;
    height: 32px;
    color: #3490f8;
    text-align: center;
    border-bottom: 2px solid #3490f8;
}
/*
*图表样式
*/
.echart2Wrap {
    height:308px; 
    border: 1px solid #ebebeb; 
    border-radius: 3px;
}
#saveDetailPie1, #saveDetailPie2 {
    height: 154px;
    width: 164px;
    display: inline-block;
    padding-top: 10px;
}


/*
*列表样式
*/
.grid-wrap {
    /* padding-right: 20px; */
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: #ffffff;
    margin-top: 3px;
    padding: 0px 15px;
    /* margin-left:20px; */
}
.grid-table {
    table-layout: fixed;
}
.grid-table tr{
    border-top: none !important;
    border-bottom: 1px dashed #ddd !important;
    background: #fff;
}
.grid-table td{
    border-top: none !important;
    border-bottom: none !important;
    background: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}


.table-wrap {
	margin: 6px 20px;
	background-color: #FFF;
}
.grid-wrap {
	padding-right: 0;
	margin-left: 0;
	margin-top: 1px;
}
.grid-table {
	width: 98%;
	margin-left: 1%;
}
.grid-table thead tr {
	border-top: 0;
	border-left: 0;
}
.grid-table thead tr th {
	background-color: #FFF;
}
.popUp thead tr th {
	text-align: left;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 30px !important;
	height: 20px !important;
	font-weight: bold;
}
.grid-table td, table.grid-table th {
	border-top: 0;
	border-bottom: 1px solid #E5E5E5;
}
.grid-table tbody tr.odd td, .grid-table tbody tr:nth-child(odd) td {
	background-color: #FFF;
}
.popUp tbody tr.odd td, .popUp tbody tr:nth-child(odd) td {
	text-align: left;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 20px !important;
	height: 20px !important;
}
.grid-table tbody tr.odd td, .grid-table tbody tr:nth-child(even) td {
	background-color: #FFF;
}

.table-wrap {
	margin: 6px 20px;
	background-color: #FFF;
}
.grid-wrap {
	padding-right: 0;
	margin-left: 0;
	margin-top: 1px;
}
.grid-table {
	width: 98%;
	margin-left: 1%;
}
.grid-table thead tr {
	border-top: 0;
	border-left: 0;
}
.grid-table thead tr th {
	background-color: #FFF;
}
.grid-table td, table.grid-table th {
	border-top: 0;
	border-bottom: 1px solid #E5E5E5;
}
.grid-table tbody tr.odd td, .grid-table tbody tr:nth-child(odd) td {
	background-color: #FFF;
}
.grid-table tbody tr.odd td, .grid-table tbody tr:nth-child(even) td {
	background-color: #FFF;
}
.grid-table tbody tr:hover {
	background-color: #F8F8F8!important;
}
.grid-table tbody tr:hover td {
	background: none;
}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}