<div class="dashboard">
  <p>当前页面：flyalertDEMO</p>
  <div class="wrap">
    <button data-bind="click: event.testClick1" class="btn btn-default">点击弹窗1</button><br>
    <button data-bind="click: event.successEvent" class="btn btn-success">点击弹窗2-成功</button>
    <button data-bind="click: event.warningEvent" class="btn btn-info">点击弹窗3-警告</button>
    <button data-bind="click: event.dangerEvent" class="btn btn-danger">点击弹窗4-危险</button><br>
    <button data-bind="click: event.autoCloseEvent" class="btn btn-danger">点击弹窗5-自动关闭</button>
    <button data-bind="click: event.contentEvent" class="btn btn-info">点击弹窗6-content演示</button>
    <button data-bind="click: event.contentEvent2" class="btn btn-info">点击弹窗7-content演示2</button>
    <button data-bind="click: event.clickToAlertEvent" class="btn btn-info">点击弹窗8-动态改变alert框type样式</button>
  </div>
</div>